Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored for easy access, retrieval, and management. It is designed to efficiently manage large amounts of information and provide mechanisms for storing, retrieving, and manipulating that data.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems that differ in their data models, query languages, and underlying architectures:

SQL Databases:

- SQL databases are based on the relational data model, which organizes data into tables with predefined schemas and enforces relationships between tables.
- They use SQL as a standard language for defining and manipulating the data.
- SQL databases provide ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring data integrity and transaction support.
- They are best suited for applications that require complex querying, transactions, and structured data, such as financial systems, e-commerce platforms, and content management systems.


NoSQL Databases:

- NoSQL databases use various data models, such as key-value, document, columnar, or graph, to store and retrieve data.
- They offer flexible schemas, allowing for dynamic and unstructured data.
- NoSQL databases typically provide a non-SQL query language or APIs specific to their data model.
- They are horizontally scalable, meaning they can handle large amounts of data and high traffic loads by distributing data across multiple servers.
- NoSQL databases are well-suited for applications with rapidly changing or unstructured data, such as social media analytics, real-time streaming, and content caching.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a subset of SQL used to define and manage the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and schemas.

CREATE:
The CREATE statement is used to create new database objects, such as tables, indexes, views, or schemas. It specifies the name of the object, the columns or attributes it will have, and any constraints or rules to enforce on the data.

CREATE TABLE Employees (
    ID INT PRIMARY KEY,
    Name VARCHAR(100),
    Age INT,
    Department VARCHAR(50)
);

This example creates a table called "Employees" with columns for ID, Name, Age, and Department. The ID column is set as the primary key.

DROP:
The DROP statement is used to delete an existing database object, such as a table, index, view, or schema. It permanently removes the object and its associated data from the database.

In [ ]:
DROP TABLE Employees;

This example drops the "Employees" table from the database, deleting all data and the table structure.

ALTER:
The ALTER statement is used to modify the structure of an existing database object. It can add, modify, or delete columns, constraints, or other properties of the object.

In [ ]:
ALTER TABLE Employees
ADD COLUMN Salary DECIMAL(10,2);

This example alters the "Employees" table by adding a new column called "Salary" of decimal type with precision 10 and scale 2.

TRUNCATE:
The TRUNCATE statement is used to remove all data from a table while keeping its structure intact. Unlike the DELETE statement, which removes individual rows, TRUNCATE quickly removes all rows in a table without logging individual row deletions.

In [ ]:
TRUNCATE TABLE Employees;

This example removes all data from the "Employees" table, but the table structure remains unaffected.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL used to manipulate and retrieve data within a database. DML statements are used to insert, update, and delete data in database tables.

INSERT:
The INSERT statement is used to add new rows of data into a table. It specifies the table name and the values to be inserted into the respective columns.

In [ ]:
INSERT INTO Employees (ID, Name, Age, Department)
VALUES (1, 'John Doe', 30, 'IT');

This example inserts a new row into the "Employees" table with the specified values for ID, Name, Age, and Department columns.

UPDATE:
The UPDATE statement is used to modify existing data in a table. It specifies the table name, the columns to be updated, and the new values to be assigned.

In [ ]:
UPDATE Employees
SET Department = 'Sales'
WHERE ID = 1;

This example updates the "Department" column of the "Employees" table to 'Sales' for the row where ID is equal to 1.

DELETE:
The DELETE statement is used to remove one or more rows of data from a table based on specified conditions. It specifies the table name and the conditions that determine which rows to delete.

In [ ]:
DELETE FROM Employees
WHERE Age > 40;

This example deletes all rows from the "Employees" table where the Age is greater than 40.

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL used to retrieve and query data from a database. The most commonly used DQL statement is SELECT, which allows you to retrieve specific data from one or more database tables based on specified criteria.

SELECT:
The SELECT statement is used to retrieve data from one or more tables in a database. It allows you to specify which columns to retrieve and apply various conditions, sorting, and grouping options.

Example:
Consider a table called "Employees" with columns: ID, Name, Age, and Department.

In [ ]:
SELECT Name, Age
FROM Employees
WHERE Department = 'IT'
ORDER BY Age DESC;

In this example, the SELECT statement retrieves the "Name" and "Age" columns from the "Employees" table. The WHERE clause filters the rows where the "Department" column is 'IT'. The ORDER BY clause sorts the result set based on the "Age" column in descending order.

The result would be a set of rows containing the names and ages of employees who belong to the IT department, sorted by their ages in descending order.

SELECT statements can be further enhanced with additional clauses like GROUP BY, HAVING, JOIN, and functions like COUNT, SUM, AVG, etc., to perform more complex queries and calculations on the retrieved data.

Q5. Explain Primary Key and Foreign Key.

Primary Key:
A primary key is a column or a set of columns in a database table that uniquely identifies each row in that table. It provides a way to ensure data integrity and uniquely identify records within a table. Here are some key points about primary keys:

- Uniqueness: Each value in a primary key column must be unique within the table. No two rows can have the same primary key value.

- Non-Nullability: Primary key values cannot be NULL. Every row in the table must have a valid value for the primary key column(s).

- Single or Composite: A primary key can consist of a single column or a combination of multiple columns, forming a composite primary key.

- Indexing: Primary keys are typically automatically indexed by the database system, allowing for faster retrieval and enforcement of uniqueness.

- Enforcement of Referential Integrity: Primary keys are often referenced by foreign keys in related tables to establish relationships and maintain referential integrity.


Foreign Key:
A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. It establishes a relationship between two tables, allowing for data integrity and enforcing referential integrity constraints. Here are some important aspects of foreign keys:

- Relationship: A foreign key represents a relationship between two tables, where the values in the foreign key column(s) of one table correspond to the primary key values in another table.

- Referential Integrity: The presence of a foreign key ensures referential integrity, meaning that the values in the foreign key column(s) must match existing primary key values in the referenced table or be NULL.

- Cascading Actions: Foreign keys can have cascading actions defined, such as ON DELETE CASCADE or ON UPDATE CASCADE. These actions dictate what happens to related rows in the child table when a referenced row in the parent table is deleted or updated.

- Multiple Foreign Keys: A table can have multiple foreign keys, each referring to a different table or even the same table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [1]:
import mysql.connector

In [ ]:
connection = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

cursor = connection.cursor()

cursor.execute("SELECT * FROM employees")

results = cursor.fetchall()

for row in results:
    print(row)

cursor.close()
connection.close()

Explanation:

- First, you need to import the mysql.connector module to establish a connection with the MySQL database.

- Use the mysql.connector.connect() method to connect to the MySQL database. Specify the host, username, password, and database name according to your configuration.

- Create a cursor object by calling the cursor() method on the connection object. The cursor allows you to execute SQL statements and fetch the results.

- Use the execute() method of the cursor object to execute a SQL query. In this example, a SELECT statement is executed to fetch all rows from the "employees" table.

- After executing the query, you can retrieve the results using the fetchall() method, which returns all rows as a list of tuples.

- Process the retrieved data as needed. In this example, the code iterates over each row and prints it.

- Finally, close the cursor and the database connection using the close() method to free up resources.

The cursor() method creates a cursor object, which is used to execute SQL statements and retrieve the results. It acts as a handle for the database operations. The cursor keeps track of the current position in the result set and provides methods like execute(), fetchall(), etc., to interact with the database.

The execute() method is used to execute a SQL statement. It takes the SQL query as a parameter and performs the specified operation on the database. The execute() method can handle both parameterized queries and regular SQL queries.

By using the cursor() and execute() methods, you can establish a connection to a MySQL database, execute SQL queries, and retrieve the results in Python.

Q7. Give the order of execution of SQL clauses in an SQL query.

The general order of execution for SQL clauses in a query is as follows:

- FROM: The FROM clause specifies the table or tables from which the data will be retrieved.

- WHERE: The WHERE clause is used to filter the rows based on specific conditions. It narrows down the result set by applying conditions to the columns.

- GROUP BY: The GROUP BY clause is used to group the result set based on one or more columns. It is often used in conjunction with aggregate functions like SUM, COUNT, AVG, etc.

- HAVING: The HAVING clause is used to filter the grouped result set based on conditions. It operates similarly to the WHERE clause but is applied after the grouping has occurred.

- SELECT: The SELECT clause specifies the columns to be included in the result set. It retrieves the specified columns from the selected table(s) based on the preceding clauses.

- DISTINCT: The DISTINCT keyword is used to remove duplicate rows from the result set.

- ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns in ascending or descending order.

- LIMIT/OFFSET: The LIMIT clause is used to restrict the number of rows returned in the result set. The OFFSET clause is used to skip a specified number of rows before returning the result set.